<header>
  <nav class="navbar">
    <div class="nav-brand" routerLink="/">
      <img src="Logo_anime_vote.png" alt="Logo" width="50px" height="50px">
      <div class="brand-text"><h1>Saiko Rank</h1></div>
    </div>

    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active"><b>🏠 Accueil</b></a>

      @if (authService.user$ | async; as user) {

        @if (user.roles && user.roles.includes('ROLE_ADMIN')) {
          <a routerLink="/admin" routerLinkActive="active"><b>📈 Admin</b></a>
        } @else {
          <a routerLink="/user" routerLinkActive="active"><b>👤 {{ user.pseudo }}</b></a>
        }

        <a (click)="logout()" style="cursor:pointer"><b>🚪 Déconnexion</b></a>

      } @else {
        <a routerLink="/login" routerLinkActive="active"><b>👤 Mon Compte</b></a>
      }

      <a routerLink="/notif" routerLinkActive="active" class="notification">🔔 <span class="badge">9+</span></a>
    </div>
  </nav>
</header>

<main class="content">
  <router-outlet />
</main>